body {
    background-color: lightcyan;
}

.nav_color {
    text-shadow: none;
    font-stretch: semi-condensed;
}

.sign_block {
    line-height: 3;
    width: 6;
}

.green-text{
    font-size: 18px;
}

.collapse{
    width: 50%;
    margin: auto;
    margin-top: 5px;
}

.card{
    width: 60%;
    margin: auto;
}

.btn-large{
    margin: 4px;
}

.waves-effect waves-light{
    line-height: 20px;
}