body {
    background-color: lightcyan;
}

.nav_color {
    text-shadow: none;
    font-stretch: semi-condensed;
}

.sign_block {
    line-height: 3;
    width: 6;
}

.green-text{
    font-size: 18px;
}

.collapse{
    width: 50%;
    margin: auto 20pc;
    margin-top: 5px;
}