{% extends "length.html" %}
{% block content %}

<h4 class="pink-text text-darken-4">Food List</h4>

<div class="row">
  <div class="carousel carousel-slider center">
            {% for category in categories %}
            <div class="carousel-item red white-text" href="#one!">
                <h2>{{ category.category_title }}</h2>
                <p class="white-text">This is your first panel</p>
                <a class="btn waves-effect white grey-text darken-text-2">remove</a>
                <a class="btn waves-effect white grey-text darken-text-2">change</a>
            </div>
    {% endfor %}
  </div>
</div>
        
{% endblock %}