{% extends "length.html" %}
{% block content %}

    <div class="row h-100">
        <div class="col-sm-12 my-auto">
        <div class="card card-block w-25">
            <h4 class="lime-text text-accent-4 center-align">New Task</h4>
        </div>
        </div>
    </div>

  
<div class="row">
        <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
            <i class="fa fa-envelope pink-text text-darken-3" aria-hidden="true"></i>
            <textarea id="icon_prefix" class="materialize-textarea"></textarea>
            <label for="icon_prefix">Email</label>
            </div>
        </div>
        </form>
        <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
            <i class="fas fa-phone pink-text text-darken-3" aria-hidden="true"></i>
            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
            <label for="icon_prefix2">Telephone</label>
            </div>
        </div>
        </form>
</div>
          


{% endblock %}