{% extends "length.html" %}
{% block content %}

    <div class="row h-100">
        <div class="col-sm-12 my-auto">
        <div class="card card-block w-25">
            <h4 class="lime-text text-accent-4 center-align">New Task</h4>
        </div>
        </div>
    </div>

  
<div class="row card light-blue lighten-5">
        <form class="col s12" method="POST" action="">
        <i class="fas fa-utensils pink-text text-darken-3"></i>
        <div class="row">
            <label for="food_select">Food Select</label>
            <select id="food_select" name="food_select" class="food_select" required>
                <option value="" disabled selected>Choose your option</option>
                {% for categories in categories %}
                <option value="{{ categories.food_list }}">{{ categories.food_list }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row">
            <div class="input-field col s6">
            <i class="fa fa-envelope pink-text text-darken-3" aria-hidden="true"></i>
            <textarea id="email" name="email" class="materialize-textarea"></textarea>
            <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
            <i class="fa fa-user-circle pink-text text-darken-3" aria-hidden="true"></i>
            <textarea id="first_name" name="first_name" class="materialize-textarea"></textarea>
            <label for="first_name">First Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
            <i class="fa fa-calendar prefix pink-text text-darken-3" aria-hidden="true"></i>
            <input type="text" class="datepicker validate" id="datepicker" name="datepicker" minlength="2" maxlength="55">
            <label for="datepicker">Date</label>
            </div>
        </div>
        <div class="row">
            <div class="switch">
            <label for="urgent_status">
            <input type="checkbox" id="urgent_status" name="urgent_status">
            <span class="lever"></span>
            <i class="fa fa-exclamation pink-text text-darken-3" aria-hidden="true"></i>
            Required
            </label>
            </div>
        </div>
        </form>
</div>
          


{% endblock %}