{% extends "length.html" %}
{% block content %}

<h4 class="center-align cyan-text text-darken-1">Sign Up</h4>

<div class="sign_in">
  <div class="row">
    <form class="col s12" method="POST" action="{{ url_for('sign_up') }}">
      <div class="row">
        <div class="input-field col s6  grey lighten-5">
          <i class="fas fa-sign-in-alt prefix indigo-text text-lighten-2"></i>
          <input id="first_name" name="first_name" type="text" class="validate" required>
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6  grey lighten-5">
          <i class="fas fa-sign-in-alt prefix indigo-text text-lighten-2"></i>
          <input id="second_name" name="second_name" type="text" class="validate" required>
          <label for="second_name">Second Name</label>
        </div>
        <div class="input-field col s6  grey lighten-5">
          <i class="fas fa-sign-in-alt prefix indigo-text text-lighten-2"></i>
          <input id="email" name="email" type="email" class="validate" required>
          <label for="icon_telephone">Email</label>
        </div>
        <div class="input-field col s6  grey lighten-5">
          <i class="fas fa-sign-in-alt prefix indigo-text text-lighten-2"></i>
          <input id="password" name="password" type="password" class="validate" required>
          <label for="icon_telephone">Password</label>
        </div>
        <div class="row">
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right"></i>
          </button>
        
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-12 font-text">
        <p class="center-align">
        Try sign in
        <a href="{{ url_for('sign_in') }}" 
         class="far fa-sign-in red-text text-lighten-3">here</a>
        if you have an account!
        </p>
    </div>
  </div>
</div>

{% endblock %}