{% extends "length.html" %}
{% block content %}
    <h1>My website</h1>
    {% block tasks %}
    {% endblock %}


    <ul class="collapsible expandable">
        <li>
        <div class="collapsible-header light-grey-text blue accent-3 text-shadow"><i class="fas fa-pen"></i>First</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
        <div class="collapsible-header light-grey-text blue accent-3 text-shadow"><i class="fas fa-pen"></i>First</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
        <div class="collapsible-header light-grey-text blue accent-3 text-shadow"><i class="fas fa-pen"></i>First</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>
        

{% endblock %}